.contenedor {
  display: flex;
}

.original {
  width: 300px;
  height: 300px;
}
.expandido {
  width: 600px;
  height: 600px;
}

.container {
  width: 75%;
  height: 75%;
  border: solid black 5px;
  margin-right: 20%;
  /* background-color: orangered; */
  background-image: url("../public/imagenes/ovejas.jpg");
  background-size: contain;
}

.display {
  border: solid rgb(14, 118, 236) 3px;
  background-color: rgb(139, 212, 4);
  text-align: center;
  margin: 25px;
  border: solid black 5px;
  opacity: 75%;
  font-weight: 200;
}
h2 {
  text-align: center;
}
.boton1 {
  display: inline;
}
#Titulo {
  margin-left: 47%;
}

.increment {
  margin-left: 350px;
  background-color: rgb(176, 190, 41);
  border: solid black 5px;
  font-size: large;
  opacity: 90%;
  width: 150px;
  height: 100px;
}

.decrement {
  margin-left: 100px;
  background-color: rgb(31, 21, 121);
  border: solid black 5px;
  width: 150px;
  height: 100px;
  opacity: 90%;
  font-size: large;
}

.suma5 {
  margin-left: 38%;
  width: 150px;
  height: 130px;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: rgb(221, 5, 5);
  border: solid black 5px;
  opacity: 75%;
  font-size: large;
}
body {
  background-color: bisque;
}
body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

header {
  max-width: 1800 px;
  max-height: 300px;
}

header,
footer {
  background-color: bisque;
  line-height: 5rem;
  padding: 0 1rem;
}
header,
footer,
aside {
}

main,
nav,
aside {
  padding: 1rem;
  text-decoration: none;
}

.home {
  background-color: rgb(255, 166, 0);
  display: flex;
  justify-content: center;
  margin-left: 40%;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.final {
  display: flex;
  justify-content: space-between;
}

.pie {
  width: auto;
  height: auto;
}

#final1 {
  background-color: rgb(255, 0, 221);
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#final2 {
  background-color: rgb(255, 0, 221);
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#final3 {
  background-color: rgb(255, 0, 221);
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Home {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Galeria {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Comptador {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#ToggleButton {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Acordio2 {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Vector {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#CounterRedux {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#BarraSlider {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Calculadora {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Carrusel {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#RellotgeAnalogic {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}
#RellotgeDigital {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#NevaPerNadal {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#ExercicisArrays {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#ApuntsCurs {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Rest {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Activitat {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#TicTacToe {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

#Altres {
  background-color: aqua;
  border-radius: 25px;
  border: 5px solid black;
  text-align: center;
  font-weight: bold;
}

/* aside {
  background-image: url("https://como.help/uploads/2019/2/pexels-photo-1020315_large.jpeg"); */
/* 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 50px;
} */

.home {
  text-align: center;
  margin-right: 45%;
}
nav {
}
footer {
  line-height: 3rem;
}

/* h1 {
 
 
 
  margin-left: 45%;
} */

p {
  text-align: center;
}

/* componente acordio css */

#Acordio {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.Acordio__entrada {
  color: white;
  list-style: none;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  width: 200px;
  height: 50px;
  opacity: 0.8;
  font-size: x-large;
  line-height: 1.5em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Acordio__entrada:hover {
  background-color: rgb(40, 40, 40);
}

.tefills {
  display: inline;
  text-align: right;
  cursor: pointer;
  width: 50px;
  height: 40px;
  transform: rotate(90deg);
}

.tefills:hover {
  background-color: rgb(80, 80, 80);
}

.notefills {
  display: none;
}

/* componente carrussel */

#carrusel {
  width: 640px;
  height: 480px;
  /*background-image: url("../../public/img/imatge1.png");*/
  background-size: 640px;
}

.mostra {
  display: block;
}

.amaga {
  display: none;
}

#anterior,
#seguent {
  position: relative;
  width: 30px;
  height: 60px;
  text-align: center;
  color: white;
  font-size: xx-large;
  padding-top: 15px;
  opacity: 0.5;
  background-color: black;
  /*display: none;*/
  cursor: pointer;
}

#anterior {
  left: 0px;
  top: 180px;
}

#seguent {
  left: 610px;
  top: 105px;
}

#foto {
  width: 320px;
  height: 200px;
  background-color: blue;
}

#separador {
  width: 100%;
  height: 0%;
  display: block;
}

.punt {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  border-width: 10px;
}

.puntas {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 50%;
}

#navegador {
  position: relative;
  top: 269px;
  left: 220px;
  width: 200px;
  height: 20px;
  opacity: 0.5;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

#tancador {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: xx-large;
  color: white;
  opacity: 0.5;
  background-color: black;
  cursor: pointer;
  text-align: center;
  padding-top: 9px;
  right: -590px;
  top: -200px;
}

/* componente BarraSlider */

#barra {
  position: absolute;
  top: 80px;
  z-index: 0;
  height: 82%;
  width: 400px;
  background-color: green;
}

#boto {
  background-color: lightgray;
  width: 28px;
  height: 25px;
  cursor: pointer;
}

#sidebar {
  z-index: 3;
  position: absolute;
  top: 25px;
  left: 0px;
  bottom: 100px;
  width: 0px;
  background-color: red;
}

@keyframes slideout {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

@keyframes slidein {
  from {
    width: 200px;
  }
  to {
    width: 0px;
  }
}
/* 
css de els tres en ratlla ( tic tac toe) */

#tictactoe {
  text-align: center;
  width: 320px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1px 1px;
}

.separador {
  width: 100%;
  height: 0%;
}

.casella {
  width: 100px;
  height: 70px;
  padding-top: 30px;
  font-size: xx-large;
  border: 2px solid black;
}

.guanyes {
  background-color: green;
}

.guanya {
  background-color: red;
}

/* css rellotge digital */
#rellotgedigital {
  text-align: center;
}

.pastilleta {
  height: 60px;
}

.mostra_clock {
  display: block;
}

.amaga_clock {
  display: none;
}
.cabeceravideo {
  position: relative;
  margin-left: 10%;
}
/* 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

.containerMinion {
  display: flex;
}

.minion {
  margin-left: 40px;
  width: 100px;
  height: 100px;
  animation: minion 15s infinite;
  position: absolute;
}

/* nota : el porcentage en blanco son en base a los segundos de la animación,y los porcentajes que estan dentro de left y demás son en base a la pantalla. */

@keyframes minion {
  0% {
    left: 0%;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotatez(180deg);
  }
  20% {
    left: calc(40%);
    transform: rotateX(1800deg);
    transform: rotateY(1800deg);
    transform: rotatez(1800deg);
  }
  30% {
    left: calc(40%);
    transform: rotateX(0deg);
    transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  40% {
    left: calc(40%);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotatez(180deg);
  }

  41% {
    left: calc(40%);
    transform: rotateX(0deg);
    transform: rotateY(0deg);
    transform: rotatez(0deg);
  }

  51% {
    left: calc(100% - 150px);
    transform: rotateX(1800deg);
    transform: rotateY(1800deg);
    transform: rotatez(1800deg);
  }

  100% {
    left: calc(0%);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotatez(180deg);
  }
}
